<?xml version="1.0"?>
<robot name="visual">

<material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
         <mesh filename="file://$(fobo_simulation)/meshes/total_model.stl"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
</robot>